<template>
  <main-breadcrumb :items="items" showBackButton></main-breadcrumb>
  <main-buttons-bar :align="'space-between'">
    <template #left>
      <custom-title>Edición de un item</custom-title>
    </template>
    <template #right>
      <home-delete-button></home-delete-button>
    </template>
  </main-buttons-bar>

  <detail-container>
    <el-row :gutter="20">
      <custom-input 
        :label="'ID'" 
        :spanColumn="4" 
        :settings="{
          placeholder: 'ID', 
          value: item ? item.id : '',
          disabled: true
        }"
      ></custom-input>
      <custom-input 
        :label="'Nombre'" 
        :spanColumn="4" 
        :settings="{
          placeholder: 'Nombre', 
          value: item ? item.first_name : ''
        }"
      ></custom-input>
      <custom-input 
        :label="'Apellido'" 
        :spanColumn="4" 
        :settings="{
          placeholder: 'Apellido', 
          value: item ? item.last_name : ''
        }"
      ></custom-input>
    </el-row>
    <el-row :gutter="20">
      <custom-input 
        :label="'Email'" 
        :spanColumn="4" 
        :settings="{
          placeholder: 'Email', 
          value: item ? item.email : ''
        }"
      ></custom-input>
      <custom-input 
        :label="'Género'" 
        :spanColumn="4" 
        :settings="{
          placeholder: 'Género', 
          value: item ? item.gender : ''
        }"
      ></custom-input>
      <custom-input 
        :label="'IP'" 
        :spanColumn="4" 
        :settings="{
          placeholder: 'IP', 
          value: item ? item.ip_address : ''
        }"
      ></custom-input>
    </el-row>
    <custom-confirm-buttons
      :disabled="false"
      :showLoading="true"
      :confirmText="'Sí'"
      :cancelText="'No'"
      @on-cancel="onCancel"
      @on-confirm="onConfirm"
    ></custom-confirm-buttons>
  </detail-container>
</template>

<script setup>
  import { onBeforeMount, ref } from 'vue';
  import { useRoute } from 'vue-router';
  import MainBreadcrumb from '@/shared/layout/main/main_breadcrum.vue';
  import MainButtonsBar from '@/shared/layout/main/buttons_bar/main_buttons_bar.vue';
  import DetailContainer from '@/shared/layout/detail/detail_container.vue';
  import CustomTitle from '@/shared/components/custom_title.vue';
  import CustomInput from '@/shared/components/custom_input.vue';
  import HomeDeleteButton from '../components/home_delete_button.vue';
  import CustomConfirmButtons from '@/shared/components/custom_confirm_buttons.vue';
  import fakeData from '@/assets/fake_data/index.json';
  import { useLoading } from '@/shared/composables/loading';

  const route = useRoute();
  const item = ref(null);

  // local state
  const items = [
    { label: 'Inicio', to: '/page/home/list', replace: false },
    { label: 'Edición', to: null, replace: false },
  ];

  const onConfirm = ( () => {
    console.log('onConfirm');
    setTimeout(() => useLoading().closeLoading(), 2000);
  })

  const onCancel = ( () => {
    console.log('onCancel');
  })

  onBeforeMount(() => {
    item.value = {...fakeData.find( item => item.id == route.params.id )};
  })
</script>

<style scoped>
</style>