<template>
  <el-button type="danger" size="default" plain :icon="IconDelete" @click="deleteElement"></el-button>

  <el-dialog
    v-model="isVisibleModal"
    :title="props.title"
    width="30%"
  >
    <span>{{ props.message }}</span>
    <template #footer>
      <el-button size="default" @click="isVisibleModal = false">Cancel</el-button>
      <el-button size="default" type="danger" @click="handleDelete">Eliminar</el-button>
    </template>
  </el-dialog>
</template>

<script setup>
  import { ref } from 'vue';
  import IconDelete from '~icons/mdi/delete';

  const isVisibleModal = ref(false);

  const emit = defineEmits(['handleDelete']);

  const props = defineProps({
    showLoading: { 
      type: Boolean, 
      default: false
    },
    title: {
      type: String,
      default: 'Eliminar elemento'
    },
    message: {
      type: String,
      default: '¿Quiere eliminar este elemento?'
    },
  });

  const deleteElement = () => {
    isVisibleModal.value = true;
  }

  const handleDelete = async () => {
    emit('handleDelete');
    isVisibleModal.value = false;
  }
</script>

<style scoped>
</style>