<template>
  <el-col :span="spanColumn">
    <div class="label">{{ props.label }}</div>
    <div class="data">{{ props.data }}</div>
  </el-col>
</template>

<script setup>

//props
const props = defineProps({
  spanColumn: Number,
  label: [String, Number],
  data: [String, Number]
});
</script>

<style scoped>
  .label {
      font-weight: 700;
      color: #111;
  }
</style>