<template>
  <el-row>
    <el-button type="default" size="default" @click="handleCancel">{{ props.cancelText }}</el-button>
    <el-button type="primary" size="default" @click="handleConfirm" :disabled="props.disabled">{{ props.confirmText }}</el-button>
  </el-row>
</template>

<script setup>
  import { useLoading } from '@/shared/composables/loading';

  const emit = defineEmits(['onCancel', 'onConfirm']);

  const props = defineProps({
    disabled: { type: Boolean, default: false },
    showLoading: { type: Boolean, default: false },
    cancelText: { type: String, default: 'Cancelar' },
    confirmText: { type: String, default: 'Aceptar' },
  });

  const handleCancel = (async () => {
    await emit('onCancel');
  })

  const handleConfirm = (async () => {
    if(props.showLoading == true) {
      useLoading().openLoading();
    }
    await emit('onConfirm');
  })
</script>

<style scoped>
  .el-row { 
    margin-top: 25px; 
    padding-top: 15px; 
    border-top: 1px solid rgb(241, 241, 241);
  }
</style>