<template>
  <div class="custom_table" id="custom_table">
    <el-table 
      :data="props.data" 
      :style="{ 'width': widthPageStore.widthPage + 'px'}" 
      :height="tableHeight" 
      :highlight-current-row="false"
      ref="custom_table"
      empty-text="Sin datos"
      border
      v-if="props.columns.length > 0"
    >
      <el-table-column 
        :prop="column.field" 
        :label="column.label" 
        :width="column.width == 0 ? null : column.width"
        :sortable="column.sortable"
        v-for="(column, index) in props.columns.filter(c => c.isVisible == true)" :key="`col${index}`">
          <template #default="scope">{{scope.row[column.field]}}</template>
      </el-table-column>
      <el-table-column label="Acciones" width="150" align="center">
        <template #default="scope">
          <el-button :icon="IconVisibility" @click.prevent="showRow(scope.row)"></el-button>
          <el-button :icon="IconEdit" @click.prevent="editRow(scope.row)"></el-button>
        </template>
      </el-table-column>
      <infinite-loading :distance="200" @infinite="infiniteHandler" :identifier="identifier" :target="'.el-table__body-wrapper'" >
        <template #spinner>Cargando datos...</template>
        <template #complete>No hay mas datos...</template>
        <template #error>Hubo un error...</template>
      </infinite-loading>
    </el-table>
  </div>
</template>

<script setup>
  import { ref, onMounted } from 'vue';
  import { useRouter } from 'vue-router';
  import { useWidthContentPage } from '@/stores/widthContentPage';

  import InfiniteLoading from "v3-infinite-loading";
  import IconVisibility from '~icons/mdi/visibility';
  import IconEdit from '~icons/mdi/edit';

  const emit = defineEmits(['infiniteHandler'])
  const router = useRouter();
  const widthPageStore = useWidthContentPage();

  //local state
  const identifier = +new Date();
  const tableHeight = ref(300)

  //props
  const props = defineProps({
    data: Array,
    columns: Array,
    pathDetail: String,
    pathEdit: String,
    paramId: String
  })

  // methods
  const showRow = ((row) => {
    if(row) {
      router.push(`${props.pathDetail}/${row[props.paramId]}`);
    }        
  });
  
  const editRow = ((row) => {
    if(row) {
      router.push(`${props.pathEdit}/${row[props.paramId]}`);
    }        
  });

  const infiniteHandler = ( async ($state) => {
    try {
      let localData = await emit('infiniteHandler');
      if(localData == true) {
        $state.loaded()
      } else {
        $state.complete()
      }

    } catch ( err ) { this.$alert('Hubo un error en el servidor. Intentelo nuevamente', 'Alerta', { confirmButtonText: 'Ok'} )}
  });

  // lifecycle
  onMounted(() => {
    const mainContainer = document.querySelector('#main_container');
    const page = document.querySelector('#page');
    const custom_table = document.querySelector('#custom_table');
    const heightBar = page.clientHeight - custom_table.clientHeight + 60;
    tableHeight.value = mainContainer.clientHeight - heightBar;
    widthPageStore.setWidthPage(props.columns.reduce((prev, curr) => { return +prev + +curr.width }, 0) + 150);
  })
</script>

<style scoped>
  .custom_table { 
    display: flex; 
    flex-direction: column; 
    flex: 1;
    width: 100%;
    padding: 20px;
    background-color: white;
    align-items: center;
  }
</style>