<template>
  <el-col :span="spanColumn">
    <div class="label">{{ props.label }}</div>
    <el-input
      :placeholder="props.settings.placeholder"
      :value="props.settings.value"
      @input="setModel"
      size="default"
      :disabled="props.settings.disabled"
    ></el-input>
  </el-col>
</template>

<script setup>
import { ref, onBeforeMount } from 'vue';

//local state
const model = ref('')

//methods
const setModel = ((value) => {
  model.value = value;
})

//props
const props = defineProps({
  spanColumn: Number,
  label: String,
  settings: {
    placeholder: String,
    value: String,
    disabled: {
      type: Boolean,
      defualt: false
    }
  }
});

onBeforeMount(() => {
  model.value = setModel(props.settings.value);
})
</script>

<style scoped>
  .label {
      font-weight: 700;
      color: #111;
  }
</style>