<template>
  <main-breadcrumb :items="items" showBackButton></main-breadcrumb>
  <main-buttons-bar :align="'space-between'">
    <template #left>
      <custom-title>Detalle de un item</custom-title>
    </template>
    <template #right>
      <el-button type="primary" size="default" :icon="IconEdit" @click="editItem">Editar</el-button>
      <home-delete-button></home-delete-button>
    </template>
  </main-buttons-bar>

  <detail-container>
    <el-row :gutter="20">
      <custom-data :label="'ID'" :spanColumn="4" :data="item ? item.id : ''"></custom-data>
      <custom-data :label="'Nombre'" :spanColumn="4" :data="item ? item.first_name : ''"></custom-data>
      <custom-data :label="'Apellido'" :spanColumn="4" :data="item ? item.last_name : ''"></custom-data>
    </el-row>
    <el-row :gutter="20">
      <custom-data :label="'Email'" :spanColumn="4" :data="item ? item.email : ''"></custom-data>
      <custom-data :label="'Género'" :spanColumn="4" :data="item ? item.gender : ''"></custom-data>
      <custom-data :label="'IP'" :spanColumn="4" :data="item ? item.ip_address : ''"></custom-data>
    </el-row>
  </detail-container>
</template>

<script setup>
  import { onBeforeMount, ref } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import MainBreadcrumb from '@/shared/layout/main/main_breadcrum.vue';
  import MainButtonsBar from '@/shared/layout/main/buttons_bar/main_buttons_bar.vue';
  import DetailContainer from '@/shared/layout/detail/detail_container.vue';
  import CustomTitle from '@/shared/components/custom_title.vue';
  import CustomData from '@/shared/components/custom_data.vue';
  import HomeDeleteButton from './../components/home_delete_button.vue';
  import IconEdit from '~icons/mdi/edit';
  import fakeData from '@/assets/fake_data/index.json';

  const route = useRoute();
  const router = useRouter();
  const item = ref(null);

  // local state
  const items = [
    { label: 'Inicio', to: '/page/home/list', replace: false },
    { label: 'Detalle', to: null, replace: false },
  ];

  const editItem = () => router.replace(`/page/home/edit/${route.params.id}`);

  onBeforeMount(() => {
    item.value = {...fakeData.find( item => item.id == route.params.id )};
  })
</script>

<style scoped>
</style>