<template>
  <div class="main_container" id="main_container">
    <router-view></router-view>
  </div>
</template>

<script setup>
</script>

<style scoped>
.main_container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: var(--main-bg);
}
</style>