<template>
  <div class="menu_container">
    <div class="header-menu">
      <img :src="imageSrc" alt="Isologotipo App" style="height: 75%;">
    </div>
    <el-menu
      default-active="1"
      class="side-menu"
      :collapse="isCollapse"
    >
        <el-menu-item index="1" disabled></el-menu-item>
      <el-menu-item index="2" @click="router.push('/page/home/list')">
        <icon-home/>
        <template #title>&nbsp;&nbsp;Navigator Two</template>
      </el-menu-item>
      <el-menu-item index="3">
        <icon-view-dashboard />
        <template #title>&nbsp;&nbsp;Navigator Two</template>
      </el-menu-item>
      <el-menu-item index="4">
        <icon-file-document />
        <template #title>&nbsp;&nbsp;Navigator Three</template>
      </el-menu-item>
      <el-menu-item index="5" class="configuration_menu">
        <icon-cog />
        <template #title>&nbsp;&nbsp;Configuración</template>
      </el-menu-item>
      <el-menu-item index="6" class="profile_menu" @click="authStore.closeSession">
        <icon-logout />        
        <template #title>&nbsp;&nbsp;Cerrar sesión</template>
      </el-menu-item>
    </el-menu>
    <el-button size="default" circle type="primary" :icon="arrowMenu" class="arrow_menu_container" @click="collapseMenu"></el-button>
  </div>
</template>

<script setup>
  import { ref, computed } from 'vue';
  import { useRouter } from 'vue-router';
  
  import Isotipo from '@/assets/images/isotipo.png';
  import Isologotipo from '@/assets/images/isologotipo.png';
  import IconLogout from '~icons/mdi/logout';
  import IconHome from '~icons/mdi/home-outline';
  import IconViewDashboard from '~icons/mdi/view-dashboard-outline';
  import IconFileDocument from '~icons/mdi/file-document-outline';
  import IconCog from '~icons/mdi/cog-outline';
  import IconChevronRight from '~icons/mdi/chevron-right';
  import IconChevronLeft from '~icons/mdi/chevron-left';

  import { useAuthStore } from '@/views/auth/auth_store';

  const isCollapse = ref(true);
  const router = useRouter();
  const authStore = useAuthStore();

  const arrowMenu = computed(() => {
    return isCollapse.value ? IconChevronRight : IconChevronLeft;
  })
  const imageSrc = computed(() => {
    return isCollapse.value ? Isotipo : Isologotipo;
  })

  const collapseMenu = () => {
    isCollapse.value = !isCollapse.value;
  }
</script>

<style scoped>
  .menu_container { 
    display: flex;
    flex-direction: column;
    position: relative; 
    z-index: 1000; 
    height: 100%; 
    box-shadow: 1px 0 4px 0px rgb(201, 201, 201); 
  }
  .arrow_menu_container { position: absolute; top: 80px; right: -15px; }
  .header-menu { 
    height: 60px; 
    border-bottom: 2px solid rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-menu { 
    border: none; 
    flex: 1; 
    position: relative;
  }
  .side-menu:not(.el-menu--collapse) { width: 200px; }
  .configuration_menu { border-top: 1px solid rgb(241, 241, 241); margin-top: 30px; }
  .profile_menu { position: absolute; bottom: 0px; left: 0; right: 0;}


</style>