<template>
  <main-breadcrumb :items="items" showBackButton></main-breadcrumb>
  <main-buttons-bar :align="'space-between'">    
    <template #left>
      <custom-title>Listado de inicio</custom-title>
    </template>
    <template #right>
      <el-button type="primary" size="default" :icon="IconAdd">Click me</el-button>                    
    </template>
  </main-buttons-bar>
  <custom-table 
    @infinite-handler="infiniteHandler"
    :pathDetail="'/page/home/detail'"
    :pathEdit="'/page/home/edit'"
    :paramId="'id'"
    :data="fakeData"
    :columns="columns"
  ></custom-table>
</template>

<script setup>
  import MainBreadcrumb from '@/shared/layout/main/main_breadcrum.vue';
  import MainButtonsBar from '@/shared/layout/main/buttons_bar/main_buttons_bar.vue';
  import CustomTable from '@/shared/components/custom_table.vue';
  import CustomTitle from '@/shared/components/custom_title.vue';
  import IconAdd from '~icons/mdi/add';
  import fakeData from '@/assets/fake_data/index.json';

  // local state
  const items = [
    { label: 'Inicio', to: '/page/home', replace: false },
    { label: 'Listado', to: null, replace: false },
  ];

  const columns = [
    { field: 'id', label: 'ID', width: 100, sortable: true, isVisible: true },
    { field: 'first_name', label: 'Nombre', width: 200, sortable: true, isVisible: true },
    { field: 'last_name', label: 'Apellido', width: 200, sortable: true, isVisible: true },
    { field: 'email', label: 'Email', width: 250, sortable: true, isVisible: true },
    { field: 'gender', label: 'Género', width: 100, sortable: true, isVisible: true },
    { field: 'ip_address', label: 'IP', width: 120, sortable: true, isVisible: true }
  ]

  // methods
  const infiniteHandler = (() => { console.log('infiniteHandler')});

</script>

<style scoped>
</style>