<template>
  <custom-delete-button 
    @handle-delete="handleDelete"
    :title="'Eliminar item'"
    :message="'¿Quiere eliminar este item?'"
  ></custom-delete-button>
</template>

<script setup>
  import { useRouter } from 'vue-router';
  import CustomDeleteButton from '@/shared/components/custom_delete_button.vue';
  import { useLoading } from '@/shared/composables/loading';
  
  const router = useRouter();

  const handleDelete = async () => {
    useLoading().openLoading();
    //TODO llamar servicio para eliminar entidad
    setTimeout(() => {
      useLoading().closeLoading();
      router.back()     
    }, 2000);
  }
</script>

<style scoped>
</style>