/* color palette from <https://github.com/vuejs/theme> */
:root {
  --upsoftware-light-blue: #0094D4;
  --upsoftware-gray: #57585A;  
}

/* semantic color variables for this project */
:root {
  --el-color-primary: var(--upsoftware-light-blue);
  --el-color-primary-light-3:#42b8eb;
  --el-color-primary-light-5:#54acd1;
  --el-color-primary-light-7:#7cb9d3;
  --el-color-primary-light-8:#a1c0ce;
  --el-color-primary-light-9:#bccbd1;
  --el-table-header-bg-color: #f6f8fa;
  --el-menu-hover-bg-color: var(--el-color-primary-light-8);
  --main-bg: #F1F1F1;
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
