@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: content-box;

  font-weight: normal;
  background-color: var(--vt-c-text-dark-2);
}

.el-table {
  --el-table-header-bg-color: #f6f8fa;
  --el-table-header-text-color: #555;
} 

.detail_container .el-row { margin-bottom: 20px;}

.label {
  font-weight: 700;
  color: #111;
}