<template>
  <div class="page_container">
    <menu-container></menu-container>
    <main-container></main-container>
  </div>
</template>

<script setup>
  import MenuContainer from './menu/menu_container.vue';
  import MainContainer from './main/main_container.vue';
</script>

<style scoped>
  .page_container { 
    display: flex; 
    justify-content: flex-start; 
    width: 100%; 
    height: 100%;
  }
</style>