<template>
  <div class="login-container">
    <div class="logo-container">
      <img :src="Isologotipo" alt="Logo">
    </div>
    <div class="form-container">
      <el-form ref="formRef" :model="authData" :rules="authRules" label-width="100px">
        <el-form-item prop="username" label="Usuario">
          <el-input 
            v-model="authData.username"
            placeholder="Introduce tu usuario" 
            size="default" 
            class="full-width"
            @keydown.enter="authStore.authHttp"
            clearable
            ></el-input>
          </el-form-item>
          
          <el-form-item prop="password" label="Contraseña">
            <el-input 
            v-model="authData.password"
            placeholder="Introduce tu contraseña" 
            size="default"
            show-password 
            class="full-width"
            @keydown.enter="authStore.authHttp"
          ></el-input>
        </el-form-item>

        <el-form-item>
          <div class="button-container">
            <el-button 
              type="primary" 
              @click="login" 
              size="default"
            >Ingresar</el-button>
          </div>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
  
<script setup>
import { reactive, ref } from 'vue';
import { storeToRefs } from 'pinia';
import Isologotipo from '@/assets/images/isologotipo.png';
import { useAuthStore } from '@/views/auth/auth_store';
import { ElNotification } from 'element-plus'

const formRef = ref(null);
const authStore = useAuthStore();
const { authData } = storeToRefs(authStore);

const authRules = reactive({
  usuario: [{ required: true, message: 'Por favor, introduce tu usuario', trigger: 'blur' }],
  password: [{ required: true, message: 'Por favor, introduce tu contraseña', trigger: 'blur' }],
});

const login = () => {
  formRef.value.validate( async (valid) => {
    if (valid) {
      await authStore.authHttp();
    } else {
      ElNotification({
        title: 'Inicio de sesión',
        message: 'Debe completar usuario y contraseña.',
        type: 'error'
      });
    }
  });
};
</script>
  
<style scoped>
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-container {
  margin-bottom: 20px;
}

.form-container {
  width: 400px;
  border: 1px solid #ebeef5;
  padding: 40px;
  border-radius: 5px;
}

.el-input__inner,
.el-button {
  font-size: 14px;
}

.el-form-item__label {
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.el-button--primary {
  background-color: var(el-button--primary);
  border-color: var(el-button--primary);
}

.el-button--primary:hover,
.el-button--primary:focus {
  background-color: #66b1ff;
  border-color: #66b1ff;
}

.full-width {
  width: 100%;
}
</style>
  